<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header  bg-primaryi text-center text-capitalize">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> <strong> confirmar </strong></h4>
                </div>
                <div class="modal-body text-capitalize">
                     eliminar archivo: [[toDelete.originalname]]
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default text-capitalize" data-dismiss="modal"> cancel </button>
                    <button type="button" class="btn btn-primaryi text-capitalize" ng-click="deleteTodo(toDelete)" data-dismiss="modal" > aceptar </button>
                </div>
            </div>
          </div>
      </div>
