<!-- Estilos aplicación principal !-->
<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
<script src="lib/jquery/dist/jquery.js"> </script>
<script src="lib/bootstrap/dist/js/bootstrap.js"/> </script>
<!-- Estilos mensajes de ayuda !-->
<link href="lib/toastr/toastr.css" rel="stylesheet"/>
<script src="lib/toastr/toastr.js"></script>
<!-- Angular !-->
<script src="lib/angular/angular.js"> </script>
<script src="js/bootstrap.js"></script>
<script src="js/controller.js"></script>
