<nod></nod>{% extends 'layout.html' %} {% block head %} {% parent %} {% endblock %} {% block content %}

<div class="container">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="Archivos">
                <md-content class="md-padding">
                    <!--Lista de archivos -->
                    {% include "./archivos.html" %}
                </md-content>
            </md-tab>
            <md-tab label="Sesiones">
                <md-content class="md-padding">
                    <!--Subir N archivos -->
                    {% include "./sesiones/subirN.html" %}
                </md-content>
            </md-tab>
            <md-tab label="acuerdos">
                <md-content class="md-padding">
                  <!--Subir N archivos -->
                  {% include "./acuerdos/subirN.html" %}
                </md-content>
            </md-tab>
        </md-tabs>
        {% include "./eliminar.html" %}
    </md-content>
</div>



{% endblock %}
