{% extends 'layout.html' %} {% block head %} {% parent %} {% endblock %} {% block content %}
<div class="container">
    <h2>Administrador de archivos</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Archivos</a></li>
        <li><a data-toggle="tab" href="#menu1">Agregar</a></li>
    </ul>

    <div class="tab-content">
        <div class="row">
            <div class="col-md-12 text-right">
                <h2>Filtrar</h2>
                <div id="custom-search-input">
                    <div class="input-group col-md-3" style="float:right">
                        <input type="text" class="form-control input-sm" placeholder="Buscar" ng-model="searchText.descripcion" />
                        <span class="input-group-btn">
                        <button class="btn btn-info btn-sm" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="home" class="tab-pane fade in active">
            <div style="width:70%; float: left;">
                <h3>Lista de Archivos</h3>
                <!--Lista de archivos -->
                {% include "./archivos.html" %}
            </div>
            <div class="col 1" style=" float: right; margin-top: 5%;">
                <center>
                    <h3>Metadatos</h3>
                </center>
                <table class="table table-hover">

                    <tbody>
                        <tr ng-repeat="y in meta.desc">

                            <td>
                                <input type="text" ng-model="firstName"> </td>
                            <td>
                                <button type="submit" class="btn" ng-click="update(firstName)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade" style="display: inline-block; padding: 93px 0px 0px 445px;">
            <!--Subir N archivos -->
            {% include "./subirN.html" %}

        </div>
        <!-- modal eliminar! -->
        {% include "./eliminar.html" %}

    </div>
</div>
{% endblock %}
